<section class="form-conteiner text-size-xl">
	<div class="form-session">
		<span class="name-head"><%= object.persisted? ? 'Профиль сотрудника' : 'Новый сотрудник'%></span>
	<%= form_with model: object, data: {turbo: false} do |f| %>	
		<div class="input-field">
			<p><%=f.label :name, 'Имя сотрудника', class: 'text-size-l'%></p>
			<p><%=f.text_field :name, {placeholder: 'Имя'} %></p>
		</div>

		<div class="input-field">
			<p><%=f.label :number, 'Табельный номер', class: 'text-size-l' %></p>
			<p><%=f.text_field :number, {placeholder: 'Табельный номер'} %></p>
		</div>

		<div class="form-btn">
			<%=f.submit(submit_text(f, if_exists: 'Сохранить', if_not_exists: 'Создать'), class: 'btn-success') %>
		</div>

		<div class="form-btn">
			<%= link_to('Назад', object.persisted? ? employee_path(object) : employees_path, class: 'btn-info') %>
		</div>
		
	<% end %>
	</div>
</section>