<%= form_with model: object, data: {turbo: false} do |f| %>
	<% if !object.persisted? %>
	<div>
		<%=f.label :employee_id, 'Сотрудник' %>
		<%=f.select(:employee_id, @employee) %>
	</div>
	<% end %>

	<div>
		<%=f.label :role_id, 'Права сотрудника' %>
		<%=f.select(:role_id, @role) %>
	</div>

	<div>
		<%=f.label :login, 'Логин' %>
		<%=f.text_field :login %>
	</div>

	<div>
		<%=f.label :password, 'Пароль' %>
		<%=f.text_field :password %>
	</div>

	<div>
		<%=f.submit(submit_text(f, if_exists: 'Сохранить', if_not_exists: 'Создать')) %>
	</div>
	
<% end %>