<% provide :page_title, 'Show user' %>
<% provide :menu, currently_at(current_user.role.name.to_s)%>
<% provide :mini_menu, currently_at_user('') %>


<section class="a-head">
	<strong>Пользователь</strong>
	<hr>	
</section>

<article class="content-main">
	<section class="text-size-xl profile-main-container">
		<div class="profile">
			<span class="name-head ">Профиль пользователя</span>
			<div class="profile-info">
				<div class="profile-text">
					<p><b><%= @user.employee.name %></b></p>				
				</div>
				<div class="hr-line">
					<hr>					
				</div>						
				<div class="profile-text">					
					<p>Табельный номер - <%= @user.employee.number%></p>
				</div>
				<div class="hr-line">
					<hr>					
				</div>
				<div class="profile-text">
					<p>Права доступа - <%= @user.role.name %></p>														
				</div>
				<div class="hr-line">
					<hr>					
				</div>
				<div class="profile-text">
					<p>Логин - <%= @user.login %></p>
					<p>Пароль - <%= @user.password %></p>				
				</div>
				<div class="hr-line">
					<hr>					
				</div>
				<div class="profile-btn">				
						<p><%= link_to('Изменить', edit_user_path(@user), class: 'btn-info') %></p>	
						<p><%= link_to('Назад', users_path, class: 'btn-info') %></p>				
						<% if current_user != @user %>
							<p><%= link_to('Удалить', user_path(@user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn-danger') %></p>
						<% end %>													
				</div>

			</div>
		</div>
	</section>
	
</article>
