
<div class="nav-bar">
  <ul>
    <li><%= nav_tab('Изделия', products_path, {current_page: current_page}) %></li>
    <li><%= nav_tab('Приход-Расход', orders_path, {current_page: current_page}) %></li>
    <li><%= nav_tab('Склад', storages_path, {current_page: current_page}) %></li>          
  </ul>                
</div>

<div class="user-bar">
  <ul>
    <% if user_signed_in? then %>   
    <div class="dropdown">
        <span><%= nav_tab(current_user.role.name, users_path, {current_page: current_page})%>&#9660;</span>                      
        <div class="dropdown-content">
            <ul class="dropdown-ul">
                <li>
                    <span><%= nav_tab('Список пользователей', users_path, {current_page: current_page}) %></span>    
                </li>
                <hr>
                <li>                                    
                    <span><%= nav_tab('Создать нового пользователя', new_user_path, {current_page: current_page})%></span>
                </li>
                <hr>                                
                <li>
                    <span><%=link_to('Выйти', session_path,  data: {turbo_method: :delete}) %></span>
                </li>
            </ul>
        </div>
    </div> 
    <% else %>
      <li><%= nav_tab('Вход', new_session_path, {current_page: current_page}) %></li>
    <% end %>
  </ul>
</div>

<div class="mini-bar-user">
  <ul>
    <% if user_signed_in? then %>
      <li class="text-secondary"><%=current_user.employee.name %></li>
    <% else %>
      <li>test</li>
    <% end %>
  </ul>
</div>
