<% provide :page_title, 'Сonsumption' %>
<% provide :menu, currently_at('Приход-Расход')%>
<% provide :mini_menu, currently_at_order('Приход') %>

<section class="a-head">
	<strong>arrival of goods</strong>
	<hr>	
</section>

<article class="content-main">	
	<%=render(partial: 'form', locals: {object: @order, url: '/create_arrival_of_goods'}) %>
<% if @orders.present? %>
	<table class="content-table">
		<caption class="text-size-l">
			Поступления на склад за период с <b><%=(Time.now.midnight-1.day).strftime('%Y-%m-%d %H:%M')%></b> 
							по <b><%= (Time.now.end_of_day).strftime('%Y-%m-%d %H:%M') %></b>
		</caption>
		<thead>
			<tr>
				<th>Название Изделия</th>
				<th>Индификацинонный номер изделия</th>
				<th>Количество</th>				
				<th>Назначение</th>
				
				<th>Адрес</th>
				<th>Примечание</th>
				<th>Дата</th>
				<th>Действие</th>					
			</tr>
		</thead>
		<tbody>
			<%@orders.each do |order| %>
			<tr>
				<td class="td-center"><%=order.product.name %></td>
				<td><%=order.product.ident_number %></td>
				<td><%=order.quantity %></td>				
				<td><%=order.product.target.name %></td>
				
				<td><%=order.address %></td>
				<td><%=order.description %></td>
				<td><%=currect_date(order.datestamp) %></td>
				<td class="td-center"><%=link_to('Изменить', "/orders/#{order.id}/edit", class: 'table-link-info') %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
<% end %>	
</article>
