<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>


<table border="1">
  <caption>Прихрод/расход</caption>

  <thead>
    <tr>
      <th>id</th>
      <th>product_name</th>
      <th>movement</th>
      <th>descripton</th>
      <th>qantity</th>
      <th>date</th>
      <th>address</th>
      <th>person</th>
      <th>note</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |t| %>
      <tr>
        <td>
          <%= t.id %>
        </td>
        <td>
          <%= t.product_name %>
        </td>
        <td>
          <%= t.name_movement %>
        </td>
        <td>
        	<%= t.description %>
        </td>
        <td>
          <%= t.quantity %>
        </td>
        <td>
          <%= t.date.strftime("%d/%m/%Y") %>
        </td>
        <td>
          <%= t.address %>
        </td>
        <td>
          <%= t.person_name %>
        </td>
        <td>
          <%= t.note %>
        </td>
        <td>
        	<%= link_to('info', "/orders/#{t.id}", title: 'info') %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>