<% provide :page_title, 'All products' %>
<% provide :menu, currently_at('Склад')%>
<% provide :mini_menu, currently_at_mini_menu('', 'shared/mini_bar_storage') %>


<section class="a-head">
	<hr>	
</section>

<article class="content-main">	
	<table class="content-table">
		<caption>
			<sapn class="text-size-xl">Склад</sapn>
		</caption>
		<thead>
			<tr>
				<th>Название</th>
				<th>Индификацинонный номер</th>
				<th>Назначение</th>
				<th>Количество</th>
				<th>Описание</th>
				<th>Дата измененмя</th>
				<th>Изменить Количество</th>	
			</tr>
		</thead>
		<tbody>
			<%@products.each do |p|%>
				<tr>
					<td class="td-center" ><%= p.name%></td>
					<td><%= p.ident_number%></td>
					<td><%= p.target.name%></td>
					<td><%= negative_number(p.quantity) %></td>
					<td><%= p.description%></td>					
					<td><%= currect_date(p.updated_at)%></td>	
					<td class="td-center"><%= link_to('Изменить', edit_storage_path(p), class: 'table-link-info') %></td>
				</tr>
			<% end %>
		</tbody>
	</table>

</article>