<% provide :page_title, 'All orders' %>
<% provide :menu, currently_at('Склад')%>
<% provide :mini_menu, currently_at_storage('') %>

<section class="a-head">
	<strong>index</strong>
	<hr>	
</section>

<article class="content-main">
	storage

	<table class="content-table text-size-l ">
		<caption>
			<span class="text-size-xl">Склад</span>
		</caption>
		<thead>
			<tr>
				<th>id</th>
				<th>Название Изделия</th>
				<th>Индификацинонный номер изделия</th>
				<th>Количество</th>				
				<th>Назначение</th>
				<th>Дата изменений</th>
					
			</tr>
		</thead>
		<tbody>
			<%@storages.each do |item| %>
			<tr>
				<td><%=item.id %></td>
				<td><%=item.product.name %></td>
				<td><%=item.product.ident_number %></td>
				<td><%=item.quantity %></td>
				<td><%=item.product.target.name %></td>				
				<td><%=currect_date(item.updated_at) %></td>			
			</tr>
			<% end %>
		</tbody>
	</table>

</article>