<% provide :page_title, 'All products' %>
<% provide :menu, currently_at('Склад')%>
<% provide :mini_menu, currently_at_storage('') %>


<section class="a-head">
	<strong>index</strong>
	<hr>	
</section>

<article class="content-main">	
	test


	<table class="content-table text-size-l ">
		<caption>
			Все изделия
		</caption>
		<thead>
			<tr>
				<th>id</th>
				<th>Название</th>
				<th>Индификацинонный номер</th>
				<th>Назначение</th>
				<th>Количество</th>
				<th>Описание</th>
				<th>Дата измененмя</th>		
			</tr>
		</thead>
		<tbody>
			<%@products.each do |p|%>
				<tr>
					<td><%= p.id%></td>
					<td><%= p.name%></td>
					<td><%= p.ident_number%></td>
					<td><%= p.target.name%></td>
					<td><%= negative_number(p.quantity) %></td>
					<td><%= p.description%></td>					
					<td><%= currect_date(p.updated_at)%></td>					
				</tr>
			<% end %>
		</tbody>
	</table>

</article>