<%= form_with model: product do |f| %>
	<p><%= f.label :product_name, 'Название' %> </p>
	<p><%= f.text_field :product_name %> </p>

	<p><%= f.label :purpose_id, 'Назначение' %> </p>
	<p><%= f.select :purpose_id, @purposes%></p>
		
	<p><%= f.label :description, 'Описание' %> </p>
	<p><%= f.text_area :description%> </p>

	<p><%= f.submit submit_title(f) %> </p>

<% end %>