<%= form_with model: object, data: {turbo: false} do |f| %>
	<div>
		<%=f.label :name, 'название' %>
		<%=f.text_field :name %>		
	</div>

	<div>
		<%=f.label :ident_number, 'Индификацинонный номер' %>
		<%=f.text_field :ident_number %>		
	</div>

	<div>
		<%=f.label :target_id, 'Назначение' %>
		<%=f.select(:target_id, @targets) %>
	</div>

	<div>
		<%=f.label :description, 'описание' %>
		<%=f.text_field :description %>		
	</div>	

	<div>		
		<%=f.submit(submit_text(f, if_exists: 'Сохранить', if_not_exists: 'Создать')) %>
	</div>

	<% if object.persisted? %>
	<div>
		<%= link_to('Нзад', product_path(object))%>
	</div>
	<% end %>
<% end %>