<% provide :page_title, 'All products' %>
<% provide :menu, currently_at('Изделия')%>
<% provide :mini_menu, currently_at_prod('Все изделия') %>


<section class="a-head">
	<strong>index</strong>
	<hr>	
</section>

<article class="content-main">	

<table class="content-table ">
	<caption>
		<sapn class="text-size-xl">Все изделия</sapn>
	</caption>
	<thead>
		<tr>			
			<th>Название</th>
			<th>Индификацинонный номер</th>
			<th>Назначение</th>
			<th>Описание</th>
			<th>Дата создания</th>
			<th>Дата измененмя</th>
		</tr>
	</thead>
	<tbody>
		<%@products.each do |p|%>
			<tr>				
				<td class="td-center"><%= link_to(p.name, product_path(p), class: 'table-link-info')%></td>
				<td><%= p.ident_number%></td>
				<td><%= p.target.name%></td>
				<td><%= p.description%></td>
				<td class="td-center"><%= currect_date(p.created_at)%></td>
				<td class="td-center"><%= currect_date(p.updated_at)%></td>				
			</tr>
		<% end %>
	</tbody>
</table>

</article>
