<% provide :page_title, 'Show products' %>
<% provide :menu, currently_at('Изделия')%>
<% provide :mini_menu, currently_at_prod('Все изделия') %>

<section class="a-head">
	<strong>show</strong>	
	<hr>
</section>

<article class="content-main">
	<section class="text-size-l profile-main-container">
		<div class="profile">
			<span class="name-head ">Информация об изделии</span>
			<div class="profile-info">
				<div class="profile-text">
					<p><b>Название - <%= @product.name%></b></p>					
				</div>
				<div class="hr-line">
					<hr>					
				</div>
				<div class="profile-text">
					<p>Идентификационный номер - <%= @product.ident_number%></p>
					<p>Назначение - <%= @product.target.name%></p>
					<p>Описание - <%= @product.description%></p>
					<p>Дата создание - <%= currect_date(@product.created_at)%></p>
					<p>Дата изменемя - <%= currect_date(@product.updated_at)%></p>					
				</div>
				<div class="hr-line">
					<hr>					
				</div>
				<div class="profile-btn">
					<p><%=link_to('Изменить', edit_product_path(@product), class: 'btn-info') %></p>
					<p><%= link_to('Назад', products_path, class: 'btn-info') %></p>
					<p><%=link_to('Удалить', product_path(@product), 
					data: {
						turbo_method: :delete, 
						turbo_confirm: 'Are you sure?'
					}, class: 'btn-danger') 
					%></p>
				</div>
			</div>	
		</div>
	</section>		
</article>
