<!DOCTYPE html>
<html lang="ru">
  <head>
    <title><%= current_title(yield(:page_title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper">
      <header>        
        <div class="menu">
          <%= yield(:menu) %>
          <%= yield(:mini_menu) %>
        </div>
      </header>
      <main>
        <% flash.each do |k, v| %>
          <%= tag.div(v, class: "flash-#{k}") %>
        <% end %>
        <div class="content-layout">
          <%= yield %>          
        </div>
      </main>
      <footer class="footer-grid">
        <%= render(partial: 'shared/footer') %>
      </footer>
    </div>
  </body>
</html>
