<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CourseWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <p><%= link_to('header', root_path)%></p>
        <div class="menu">
          <div class="nav-bar">
            <ul>
              <li><a href="#">link1</a></li>
              <li><a href="#">link2</a></li>
              <li><a href="#">link2</a></li>
            </ul>            
          </div>
        </div>
      </header>
      <main>
        <div class="content-layout">
          <%= yield %>        
          
        </div>
      </main>
      <footer>
        <p>footer</p>
      </footer>
    </div>
  </body>
</html>
